.body{
    
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;
    margin:0;
    font-family:'Poppins';
}

.box{
    background: url('../back/images/background.jpg');
}

.bg-light{
    background-color: transparent !important;
}
.container-main{
    width:100%;
    padding: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-fluid{
    text-align: right;
}

button{
    background:#f9eea6;
    border:0;
    padding: 5px 15px;
    font-family: 'Montserrat';
    font-weight:600;
}

p{
    font-weight:300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1,h2{
    margin:0;
}
h1{
    font-size:75px;
}
h2{
    color:#7d9498;
}
.title, .home-text{
    margin-top:75px;
    }

.block_social{
    text-align: right;
}

.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
    text-decoration: none;
}
.footer-box .container{
    margin-top: none;
}

